@if (isOfferLoading()) {
  <app-loader />
} @else {
  <div class="page page--gray page--main">
    <app-header></app-header>
    <main class="page__main page__main--index">
      <h1 class="visually-hidden">Cities</h1>
      <div class="tabs">
        <section class="locations container">
          <ul class="locations__list tabs__list">
            <li class="locations__item">
              <a
                appSelectCity
                [city]="CityName.PARIS | cityByName"
                [currentCity]="currentCity()"
                (citySelected)="onCitySelected($event)"
                class="locations__item-link tabs__item"
                href="#"
              >
                <span>Paris</span>
              </a>
            </li>
            <li class="locations__item">
              <a
                appSelectCity
                [city]="CityName.COLOGNE | cityByName"
                [currentCity]="currentCity()"
                (citySelected)="onCitySelected($event)"
                class="locations__item-link tabs__item"
                href="#"
              >
                <span>Cologne</span>
              </a>
            </li>
            <li class="locations__item">
              <a
                appSelectCity
                [city]="CityName.BRUSSELS | cityByName"
                [currentCity]="currentCity()"
                (citySelected)="onCitySelected($event)"
                class="locations__item-link tabs__item"
                href="#"
              >
                <span>Brussels</span>
              </a>
            </li>
            <li class="locations__item">
              <a
                appSelectCity
                [city]="CityName.AMSTERDAM | cityByName"
                [currentCity]="currentCity()"
                (citySelected)="onCitySelected($event)"
                class="locations__item-link tabs__item"
              >
                <span>Amsterdam</span>
              </a>
            </li>
            <li class="locations__item">
              <a
                appSelectCity
                [city]="CityName.HAMBURG | cityByName"
                [currentCity]="currentCity()"
                (citySelected)="onCitySelected($event)"
                class="locations__item-link tabs__item"
                href="#"
              >
                <span>Hamburg</span>
              </a>
            </li>
            <li class="locations__item">
              <a
                appSelectCity
                [city]="CityName.DUSSELDORF | cityByName"
                [currentCity]="currentCity()"
                (citySelected)="onCitySelected($event)"
                class="locations__item-link tabs__item"
                href="#"
              >
                <span>Dusseldorf</span>
              </a>
            </li>
          </ul>
        </section>
      </div>
      <div class="cities">
        <div class="cities__places-container container">
          <section class="cities__places places">
            <h2 class="visually-hidden">Places</h2>
            <b class="places__found"
              >{{ (offers() | offersByCity: currentCity()).length }} places to
              stay in {{ currentCity().name }}</b
            >
            <app-places-sorting-form
              [currentSortType]="sortType()"
              (sortTypeSelected)="onSortTypeSelected($event)"
            ></app-places-sorting-form>
            <div class="cities__places-list places__list tabs__content">
              @for (
                offer of offers()
                  | offersByCity: currentCity()
                  | sortBy: sortType();
                track offer.id
              ) {
                <app-offer-card [offer]="offer"></app-offer-card>
              }
            </div>
          </section>
          <div class="cities__right-section">
            <section class="cities__map map"></section>
          </div>
        </div>
      </div>
    </main>
  </div>
}
